{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="col-12 mt-3 left">
    <div class="row">
        <div class="col-md-12 text-center  border ">
            <div class="card mb-4 ">
                <div class="card-body">
                    {% for content in contents %}
                    <div class="image-container">
                        <div class="image-flash">
                        </div>
                    </div>
                        <h2 class="card-title">{{content.title}}</h2>
                    <hr />
                    <p class="card-text h6">{{content.stories| safe}}</p>
                    <p class="text-muted">{{content.updated_on}}</p>
                    {% if request.user.is_superuser %}
                      <button class="btn btn-delete" data-stories_id="{{ content.id }}">Delete</button>
                      <button class="btn btn-edit" data-stories_id="{{ content.id }}">Edit</button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--needs Finishing-->
    {% if request.user.is_superuser %}
    <div class="row justify-content-center">
        <div class="col-md-11 card text-center ">
            <input type="checkbox" id="questions_input" name="questions" value="questions">
            <label for="about_form" class="questions_label fs-2 text-hover">Tell Us A Little about yourself</label>
            <div class="col toggle_none">
              <div class="card-body toggle_none ">
                <h3>Story Here:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                  {{ about_form | crispy }}
                  {% csrf_token %}
                  <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete Question?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your Question?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}"
          class="page-link">&laquo; BACK</a>
    </li>
    {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<script src="{% static 'js/about_stories.js' %}"></script>
<!-- index.html content ends here -->
{% endblock %}