{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="col-12 mt-3 left">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="card mb-4 ">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="author">Gamer:{{adminstory.gamer_tag}}</p>
                        </div>
                    </div>
                        <h2 class="card-title">{{adminstory.title}}</h2>
                    <hr />
                    <p class="card-text h6">{{adminstory.stories| safe}} 
                    </p>
                    <p class="text-muted">{{adminstory.updated_on}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
</div>

<!-- index.html content ends here -->
{% endblock %}