<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test View</title>
</head>

<body>
    <div class="col-md-8 text-center ">
        <div class="card mb-4 ">
            <div class="card-body">
                <div class="image-container">
                    <div class="image-flash">
                        <p class="author">{{ homepage.gamer_tag }}</p>
                    </div>
                </div>
                    <h2 class="card-title">{{ homepage.title }}</h2>
                <hr />
                <p class="card-text h6">{{ homepage.content }}</p>
            </div>
        </div>
    </div>
</body>

</html>